@import "./variables.scss";
@import "./animation.scss";

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 80vh;
  // margin-top: calc((100hv - 80hv) * 0.5);
  // margin-bottom: calc((100hv - 80hv) * 0.5);
  font-family: $font-text;

  &__title {
    width: 100%;
    text-transform: capitalize;
    font-size: 2.75rem;
    position: relative;
    &__bar {
      border-bottom: 2px solid $button-hover;
      position: absolute;
      width: 0%;
      left: $off-left;
      transition: all 0.3s;
    }
    .animate-border {
      animation-name: titleborder;
      animation-duration: 0.8s;
      animation-play-state: running;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }

  &__text {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  &__image {
    background: url("../img/about.jpeg");
    width: 100%;
    // min-width: 350px;
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0;
  }
  .image-opacity {
    animation-name: opacity;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-duration: 2s;
  }
  @media (min-width: $bp640) {
    flex-direction: row-reverse;
    justify-content: center;
    &__right {
      width: 40%;
    }
    &__text {
      min-width: 40%;
      // width: 40%;
      line-height: 2.4rem;
      margin-left: 2rem;
      font-size: 1.2rem;
    }
    &__image {
      width: 40%;
      min-height: 300px;
      height: auto;
      height: 40vh;
      background-size: contain;
    }
  }
}
