@import "./variables.scss";
a {
  text-decoration: none;
}
.header {
  width: 100%;
  position: relative;

  &__presentation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0 3rem;
    font-family: $font-text;
    h1 {
      font-size: 4rem;
    }
  }

  &__banner {
    background: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    @media screen and (min-width: $bp480) {
      height: 30vw;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: $button-light;

    @media screen and (min-width: $bp480) {
      position: absolute;
    }

    &__item {
      background: $button-light;
      padding: 1rem 2.5rem;
      transform: skew($button-skew);
      -webkit-transition: background-color $transition-time ease-out;
      -moz-transition: background-color $transition-time ease-out;
      -o-transition: background-color $transition-time ease-out;
      transition: background-color $transition-time ease-out;
      a {
        display: block;
        transform: skew(-$button-skew);
        text-decoration: none;
        color: black;
        font-family: $font-main;
        font-weight: 300;
        text-transform: capitalize;
      }
      &:hover {
        background-color: $button-hover;
        cursor: pointer;
      }
    }
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
